 <h1>Admin::Items#new</h1>
<p>Find me in app/views/admin/items/new.html.erb</p>
<div class="container">
  <div class="row">
    <h3>商品新規登録</h3>
  </div>
  <div class="row">
    <div class="col">
      <%= form_with
    </div>
  </div>
</div>