<div class="container">
  <div class="row">
    <!--ジャンル検索一覧画面(検索機能はなし)-->
    <div class="col-md-2">
      cake
      candy
    </div>
    <!--歓迎文-->
    <div class="col-md-8 offset-md-1">
      welcome to nagano Cake!
    </div>
  </div>
  
  <div class="row">
    <!--新着商品の表示-->
    <div class="col-md-8 offset-md-3">
      image
    </div>
  
  </div>
  
</div>